.rect {
    display: grid;
    padding: 1% 20%;
    margin: 0.4%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    background: #eaeafe;
}

@media (max-width:1000px) {
    .rect {
        padding: 2.5% 15%;
    }
}