.content{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    justify-items: center;
}

.todo{
    display: grid;
    flex-direction: column;
}

.section_name{
    font-size: 1.2rem;
    font-weight: 600;
}